*{
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    border: 1px solid black;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    border: 1px solid black;
    margin-left: 20vw;
    margin-right: 20vw;
    height: 65vh;
}